
header {
    padding: 0 6% 0 5%;
    background: unset;
    background-image: url(../imgs/Backgrounds/SVG/background-portfolio.svg);
    background-size: cover;
    background-position: center center;
}


.title {
    font-size: 4rem;
    font-family: 'Aldrich';
    text-align: center;
    width: 100%;
    margin-top: 35%;
}

.text {
    font-size: 1rem;
    font-family: 'Aldrich';
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 2rem;
}

.textbox{
    font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
    .title{
        width: 100%;
        padding-left: 0;
    }

    .text{
        font-size: 1.5rem;
    }

}