.navbar {
    display: flex;
    align-items: center;
    color:var(--clr-orange);
    font-size: 3.5vh;
    font-family: 'Aldrich';
    text-transform: uppercase;
    padding: 2% 0 3% 0;
}

.navbar-start{
    justify-content: flex-start;
}

.navbar-stretch{
    justify-content: space-between;
}

.navbar div {
    padding-right: 2.5%;
}

.navbar a {
    text-decoration: none;
}

.navbar a:visited {
    all: unset;
}

.navbar a:hover {
    color: var(--clr-orange-dark);
}