:root {
	--clr-orange: #e0a736;
	--clr-orange-dark: #b88829;
}

@font-face {
	font-family: Aldrich;
	src: url(../fonts/Aldrich/Aldrich-Regular.ttf);
}

@font-face {
	font-family: Anonymous;
	src: url(../fonts/Anonymous_Pro/AnonymousPro-Regular.ttf);
}

html {
	color: white;
	overflow-x: hidden;
	font-family: 'Anonymous';
}


body {
	line-height: 1;
	background-color: black;
	overflow-x: hidden;
}

body,
html {
	margin: 0;
	height: 100%;
}

.content {
	padding: 0 5% 0 5%;
	background-image: url(../imgs/Backgrounds/PNG/Background.png);
	/* background-position-x: 55%;
	background-size: 185%;
	background-position-y: 0%; */
	/* background-attachment: fixed; */

	background-repeat: no-repeat;
	background-size: cover;
}


.background {
	background: url(../imgs/Backgrounds/PNG/Background.png);
	background-size: cover;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}