* {
	/*This is CSS hack, use it when not sure about elements placing*/
	/* outline: solid 1px red; */
	margin: 0;
	box-sizing: border-box;
}

:root {
	--clr-orange: #e0a736;
	--clr-orange-dark: #a07623;
	--clr-green: #8BD36F;
}

@font-face {
	font-family: Aldrich;
	src: url(../fonts/Aldrich/Aldrich-Regular.ttf);
}

@font-face {
	font-family: Anonymous;
	src: url(../fonts/Anonymous_Pro/AnonymousPro-Regular.ttf);
}

html {
	color: white;
	overflow-x: hidden;
	font-family: 'Anonymous';
}


body {
	line-height: 1;
	background-color: black;
}

body,
html {
	margin: 0;
	min-height: 100vh;
	max-width: 100%;
}

.content {
	margin-top: 10rem;
	background-image: url(../imgs/Backgrounds/SVG/background-stars.svg);
}

.background {
	background: url(../imgs/Backgrounds/PNG/Background.png);
	background-size: cover;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
