.portfolio {
    display: flex;
}

.portfolio-picture {
    width: 37%;
}

.portfolio-picture img {
    width: 60%;
}

.portfolio-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;
    margin-bottom: 10% ;
}

.left-aligned .portfolio-info {
    align-items: flex-start;
    margin-left: -10%;
    margin-bottom: 10% ;
}

.right-aligned .portfolio-info {
    align-items: flex-end;
    margin-right: 1%;
    margin-bottom: 10% ;
}

.name, .position {
    color: black;
}

.name {
    margin-bottom: 5% ;
}

.about {
    font-size: 3vh;
    line-height: 1.2em;
    margin-top: 3%
}

.right-aligned .about {
    text-align: right;
}

main:last-child {
    margin-top: 15%
}

.about, .position {
    color: black;
}
