/* .email {
    display: flex;
    margin-left: 90.5%;
    margin-top: -11.5%;
    margin-bottom: 1.5%;
    text-align: center;

}

.phone {
    display: flex;
    margin-left: 92%;
    width: 120%;
    text-align: center;
}
 */


.contacts {
    font-size: 1.5rem;
}

main:last-child {
    padding-bottom: 20%;
}